.dog-breeds {
  &__heading {
    margin: 0;
    border-bottom: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  &__table {
    &-td {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #dddddd;
      text-transform: capitalize;
      margin-bottom: 1rem;
      display: block;
    }
  }
}
